// Responsivo
$mincelular: 'min-width: 767px';
$mindesktop: 'min-width: 992px';
$minlarge:   'min-width: 1200px';

$maxcelular: 'max-width: 767px';
$maxdesktop: 'max-width: 992px';
$maxlarge:   'max-width: 1200px';

//Colors
$branco: #fff;
$preto: #000;
$cor-header: '0, 0, 0, 0.8';
$cor1: #f2f2f2;
$cor2: #808080;
$cor3: #808080;