<IfModule mod_rewrite.c>

#   RewriteCond %{REQUEST_URI} ^ [NC]
#   RewriteRule    ^$ admin/Webroot/    [L]
#   RewriteRule    (.*) admin/Webroot/$1 [L]

    RewriteEngine on
   RewriteRule    ^$ admin/Webroot/    [L]
   RewriteRule    (.*) admin/Webroot/$1 [L]
   
</IfModule>