Options -Indexes
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_URI} ^$ [NC]
   RewriteRule    ^$ app/Webroot/    [L]
   RewriteRule    (.*) app/Webroot/$1 [L]

   RewriteCond %{REQUEST_URI} ^admin [NC]
   RewriteRule    ^$ admin/Webroot/    [L]
   RewriteRule    (.*) admin/Webroot/$1 [L]

</IfModule>