/*
Error: File to import not found or unreadable: ../vendor/bootstrap-4.0.0/scss/bootstrap.
       Load paths:
         Compass::SpriteImporter
         /usr/src/project/assets/sass
         /var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets
        on line 1 of /usr/src/project/assets/sass/style.scss

1: @import "../vendor/bootstrap-4.0.0/scss/bootstrap";
2: @import "../vendor/bootstrap-4.0.0/scss/bootstrap-grid";
3: @import "../vendor/bootstrap-4.0.0/scss/bootstrap-reboot";
4: 
5: @import "../vendor/DataTables/datatables.css";
6: 

Backtrace:
/usr/src/project/assets/sass/style.scss:1
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:44:in `import'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/2.5.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/2.5.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/2.5.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../vendor/bootstrap-4.0.0/scss/bootstrap.\A        Load paths:\A          Compass::SpriteImporter\A          /usr/src/project/assets/sass\A          /var/lib/gems/2.5.0/gems/compass-core-1.0.3/stylesheets\A         on line 1 of /usr/src/project/assets/sass/style.scss\A \A 1: @import \"../vendor/bootstrap-4.0.0/scss/bootstrap\";\A 2: @import \"../vendor/bootstrap-4.0.0/scss/bootstrap-grid\";\A 3: @import \"../vendor/bootstrap-4.0.0/scss/bootstrap-reboot\";\A 4: \A 5: @import \"../vendor/DataTables/datatables.css\";\A 6: "; }
